_distutils_hack
mouseinfo
MouseInfo
nuitka
Nuitka
ordered_set
ordered_set
PIL
pillow
pip
pip
pkg_resources
pyautogui
PyAutoGUI
pygetwindow
PyGetWindow
pymsgbox
PyMsgBox
pynput
pynput
pyperclip
pyperclip
pyrect
PyRect
pyscreeze
PyScreeze
pytweening
pytweening
setuptools
setuptools
six
zstandard
zstandard
